<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062680284266-f3l9f1gu0kd0ne1mhfsgv87apjgh9sq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062680284266-f3l9f1gu0kd0ne1mhfsgv87apjgh9sq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAoFLF1hYc9kwOQtlxwl-pLlzMgWAe2xkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062680284266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mehendiDesignApp</string>
	<key>PROJECT_ID</key>
	<string>mehendi-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>mehendi-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062680284266:ios:af703ce8ab390c5f768e13</string>
</dict>
</plist>